header {
    height: 90vh;
    padding-top: 5rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 90%;
    position: relative;
}

.header__logo {
    width: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* background-color: black; */
}

.header__logo img {
    width: 35rem;
    position: relative;
    bottom: 13rem;
    left: 0.5rem;
}

/* IMAGEM ME --------------------- */

.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 28rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 11rem 11rem 0 0;
    overflow: hidden;
    margin-top: 14rem;
    /* padding: 1rem 1rem 1rem 1rem; */
}

.me img {
    margin-top: 5rem;
}

/* SCROLL DOWN ------------------- */

.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}

/* MEDIA QUERYS -------------------------------------------------- */

/* Medium Devices */

@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* Small Devices */

@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }

    .scroll__down {
        display: none;
    }

    .header__logo img {
        width: 22rem;
        bottom: 9rem;
    }

    .me {
        margin-top: 10rem;
    }
}